.header-login, .header-signup, .header-personal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(235, 233, 233);
}

.header-logo {
  height: 40px;
  margin: 10px;
  margin-left: 30px;
}

.header-login-link {
  background-color: white;
  font-weight: 700;
  color: #242428;
  padding: 6px 16px;
  margin-right: 30px;
  border: 1px solid #dfdfe8;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out;
}

.header-login-link:hover {
  background-color: rgb(235, 235, 225);
}

.header-signup-link {
  background-color: #fc5200;
  font-weight: 700;
  color: white;
  padding: 6px 16px;
  margin-right: 30px;
  border: 1px solid #dfdfe8;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out;
}

.header-signup-link:hover {
  background-color: #c94300;
}

.header-personal {
  border-bottom: 1px solid rgb(235, 235, 235);
}

.header-personal-left, .header-personal-right {
  display: flex;
  align-items: center;
  height: 62px;
  z-index: 7;
}

[class*="header-personal-trigger"] {
  height: 100%;
  position: relative;
}

.header-personal-left > div > div, .header-personal-right > div > div, .header-personal-left > a {
  color: #494950;
  font-size: 15px;
  height: 63px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  transition: color 0.15s ease-in-out;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.header-personal-left > div:hover, .header-personal-right > div:hover {
  border-bottom: 1px solid white;
}

.header-personal-left > div > div:hover, .header-personal-right > div > div:hover {
  color: #fc5200;
  border-bottom: 1px solid white;
  border-left: 1px solid rgb(225, 225, 225);
  border-right: 1px solid rgb(225, 225, 225);
}

.header-personal-left > a:hover {
  color: #fc5200;
}

.header-personal-left > div > ul, .header-personal-right > div > ul {
  display: none;
  background-color: white;
  position: absolute;
  width: 175px;
  border-left: 1px solid rgb(225, 225, 225);
  border-right: 1px solid rgb(225, 225, 225);
  border-bottom: 2px solid #fc5200;
}

[class*="header-personal-trigger"]:hover > ul {
  display: block;
}

[class*="header-personal-trigger"]:hover > div {
  border-left: 1px solid rgb(225, 225, 225);
  border-right: 1px solid rgb(225, 225, 225);
  border-bottom: 1px solid white;
}

.header-personal-left ul a, .header-personal-right ul a {
  padding-left: 20px;
  height: 20px;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.1s;
  font-size: 15px;
  color: black;
}

.header-personal-left li:hover, .header-personal-right li:hover {
  background-color: rgb(235, 235, 235);
}

.header-personal-trigger-image > ul {
  right: 0;
}

.header-personal-bell-off {
  border: 1px solid white;
  background-color: white;
  color: rgb(150, 150, 150);
  transition: color 0.1s;
  padding: 10px;
  font-size: 18px;
  height: 63px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.header-personal-bell-on {
  border: 1px solid white;
  background-color: white;
  color: #fc5200;
  transition: color 0.1s;
  padding: 10px;
  font-size: 18px;
  height: 63px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.header-personal-bell-off:hover {
  color: rgb(75, 75, 75)
}

.header-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fc5200;
  margin-right: 10px;
}

.header-plus {
  font-size: 20px;
}

.header-user-icon {
  position: relative;
  top: 7px;
  left: 8px;
  color: white;
  font-size: 14px;
}
